# data/ для GitHub Pages: только apartments.js и картинки JPG (чтобы не пушить лишнее)
/data/*
!/data/apartments.js
!/data/metro_spb.js
!/data/*_files/
/data/*_files/*
!/data/*_files/*.jpg
!/data/*_files/*.jpeg
!/data/static_2/
/data/static_2/*
!/data/static_2/*_files/
/data/static_2/*_files/*
!/data/static_2/*_files/*.jpg
!/data/static_2/*_files/*.jpeg
!/data/static_3/
/data/static_3/*
!/data/static_3/*_files/
/data/static_3/*_files/*
!/data/static_3/*_files/*.jpg
!/data/static_3/*_files/*.jpeg
!/data/static_4/
/data/static_4/*
!/data/static_4/*_files/
/data/static_4/*_files/*
!/data/static_4/*_files/*.jpg
!/data/static_4/*_files/*.jpeg